# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Storybook
.storybook-static
*storybook.log

# Dependencies
node_modules

# Testing
.vitest-coverage

# Next.js
app/.next

# Production
/build
.vercel

# Misc
.DS_Store

# Env files
.env
.env.production

# TypeScript
*.tsbuildinfo
next-env.d.ts

# MinIO SSL
minio/certs

# Prisma
packages/database/src/generated/

# Sentry Config File
.env.sentry-build-plugin

# Log
debug.log

# Code duplication reports
jscpd-report/

# packages
packages/core/dist/
packages/database/dist/
packages/ui/dist/
packages/notification/dist/
packages/scripts/dist/

# TypeDoc generated documentation
docs/api/

/plans

# docker sandbox
.pnpm-store/