name: cd
permissions:
  contents: write
  pull-requests: write
on:
  pull_request:
    types: [opened, synchronize, edited]

jobs:
  build-push-embedding-api:
    permissions:
      contents: write
    runs-on: ubuntu-24.04
    if: contains(join(github.event.pull_request.labels.*.name, ','), 'autorelease')
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
          submodules: true

      - name: Extract version from embedding-api package.json
        run: echo "PACKAGE_VERSION=$(jq -r '.version' services/embedding-api/package.json)" >> "$GITHUB_ENV"

      - name: Log in to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: ${{ secrets.DOCKER_HUB_USERNAME }}/embedding-api
          tags: |
            type=raw,value=latest
            type=raw,value=${{ env.PACKAGE_VERSION }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Build and push Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: ./services/embedding-api/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}

      - name: Show pushed image tags
        run: echo "Pushed docker image with tag ${{ env.PACKAGE_VERSION }}"
