name: "depcruise"
on:
  pull_request:

jobs:
  report:
    permissions:
      pull-requests: write
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout files
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false
          submodules: true

      - uses: MH4GF/dependency-cruiser-report-action@885013e37581e3472385ffa93c821b3505336bc1 #v2
        with:
          package-manager: pnpm
