name: github-actions-lint

on:
  pull_request:
    paths:
      - .github/workflows/*.yaml
      - .github/workflows/*.yml
  workflow_dispatch:

jobs:
  github-actions-lint:
    permissions:
      contents: read
      pull-requests: write
    uses: s-hirano-ist/s-templates/.github/workflows/github-actions-lint.yaml@f425f5cb99f9bed3c6376b6077e36951cf611bb8
