name: license-check

on:
  pull_request:

jobs:
  check:
    runs-on: ubuntu-24.04
    permissions: {}
    timeout-minutes: 10
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout files
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          persist-credentials: false
          submodules: true

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: "24.11.1"
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - run: pnpm i --frozen-lockfile

      - name: Generate license summary
        run: pnpm license:summary

      - name: Check for forbidden licenses
        run: pnpm license:check
