name: mutation-test
permissions: {}

on:
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "packages/core/**/*.ts"
      - "stryker.config.json"
jobs:
  mutation-test:
    runs-on: ubuntu-24.04
    permissions: {}
    timeout-minutes: 30
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - name: Checkout files
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
          submodules: true

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: "24.14.0"
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - run: pnpm i --frozen-lockfile
      - run: pnpm test:mutation:core

      - name: Upload mutation report
        if: always()
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v7
        with:
          name: mutation-report
          path: reports/mutation/
          retention-days: 14
