name: release-please
permissions:
    contents: write
    pull-requests: write
on:
    push:
        branches:
            - main
jobs:
    release-please:
        runs-on: ubuntu-24.04
        timeout-minutes: 20
        steps:
        - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38
          with:
            token: ${{ secrets.ACTIONS_GITHUB_TOKEN }}
            # this is a built-in strategy in release-please, see "Action Inputs" for more options
            config-file: .release-please-config.json
            manifest-file: .release-please-manifest.json
            release-type: node
