name: renovate-config-validator

on:
  workflow_dispatch:
  pull_request:
    paths:
      - ".github/renovate.json5"
      - ".github/workflows/renovate-config-validator.yaml"

jobs:
  renovate-config-validator:
    permissions:
      contents: read
    uses: s-hirano-ist/s-templates/.github/workflows/renovate-config-validator.yaml@f425f5cb99f9bed3c6376b6077e36951cf611bb8
